meta(charset="utf-8")
meta(name="description", content="ToBeFilled")
meta(name="author", content="ToBeFilled")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

link(href="css/styles.css", rel="stylesheet")

script(src="/js/lib/jquery-2.0.3.min.js")

script(src="/js/lib/async.js")

script(src="/js/lib/underscore.min.js")
-ko-
script(src="/js/lib/funcsync.min.js")
script(src="/js/lib/vindication.min.js")
script(src="/js/lib/knockout-latest.js")
script(src="/js/lib/knockout.parsley.min.js")
script(src="/js/lib/knockout.mapper.min.js")
-eoko-